@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}


@theme inline {
	--shadow-sm-custom: 0px 0.45px 4.48px rgba(183, 183, 183, 0.08);
	--shadow-md-custom: 0px 4.48px 8.96px rgba(183, 183, 183, 0.08);

	--breakpoint-xs: 24rem;

	--color-base-dark: #262626;
	--color-base-dark-1: #1a1a1a;
	--color-base-gray-bg: #42444e;
	--color-mian-header-text: #c3dbf9;

	--color-gray-50: #222327;
	--color-gray-200: #383b42;
	--color-gray-300: #41444f;
	--color-gray-400: #616674;
	--color-gray-200-button: #d8dbdf;

	--color-primary-300: #f7b87a;
	--color-primary-400: #f29145;
	--color-primary-500: #ee701d;
	--color-primary-600: #e05816;
	--color-primary-800: #fdedd7;

	--color-neutral-500: #b0b0b0;
	--color-neutral-600: #e7e7e7;
	--color-neutral-900: #fcfcfc;

	--color-blaze-orange-50: #e5610a;

	--color-success-50: #295b40;
	--color-success-400: #22c55e;
	--color-success-800: #DCFCE8;

	--color-danger-50: #842626;
	--color-danger-200: #fecaca;
	--color-danger-400: #ef4444;
	--color-danger-700: #b91c1c;
	--color-danger-600: #dc2626;

	--color-warning-50: #fef9e8;
	--color-warning-200: #fee28a;
	--color-warning-400: #fac215;
	--color-warning-700: #a17c07;

	/* --color-gray-50: #f7f8f8;
	--color-gray-100: #edeef1;
	--color-gray-200: #d8dbdf;
	--color-gray-300: #b6bac3;
	--color-gray-400: #8e95a2;
	--color-gray-500: #6b7280;
	--color-gray-600: #4a4e5a;
	--color-gray-700: #40444c;
	--color-gray-800: #383a42;
	--color-gray-900: #25272c;

	--color-neutral-50: #f6f6f6;
	--color-neutral-100: #e7e7e7;
	--color-neutral-200: #d1d1d1;
	--color-neutral-300: #b0b0b0;
	--color-neutral-400: #888888;
	--color-neutral-500: #737373;
	--color-neutral-600: #5d5d5d;
	--color-neutral-700: #4f4f4f;
	--color-neutral-800: #454545;
	--color-neutral-900: #262626;

	--color-primary-50: #fef7ee;
	--color-primary-100: #fdedd7;
	--color-primary-200: #fad6ae;
	--color-primary-300: #f7b87a;
	--color-primary-400: #f29145;
	--color-primary-500: #ee701d;
	--color-primary-600: #e05816;
	--color-primary-700: #b94315;
	--color-primary-800: #943518;
	--color-primary-900: #40150a;

	--color-success-50: #f0fdf5;
	--color-success-100: #dcfce8;
	--color-success-200: #bbf7d1;
	--color-success-300: #86efad;
	--color-success-400: #4ade80;
	--color-success-500: #22c55e;
	--color-success-600: #16a34a;
	--color-success-700: #15803c;
	--color-success-800: #14532b;
	--color-success-900: #052e14;

	--color-warning-50: #fef9e8;
	--color-warning-400: #fac215;
	--color-warning-100: #fef0c3;
	--color-warning-200: #fee28a;
	--color-warning-300: #fdd147;
	--color-warning-500: #eab308;
	--color-warning-600: #ca9a04;
	--color-warning-700: #a17c07;
	--color-warning-800: #85680e;
	--color-warning-900: #423306;

	--color-danger-50: #fef2f2;
	--color-danger-100: #fee2e2;
	--color-danger-200: #fecaca;
	--color-danger-300: #fca5a5;
	--color-danger-400: #f87171;
	--color-danger-500: #ef4444;
	--color-danger-600: #dc2626;
	--color-danger-700: #b91c1c;
	--color-danger-800: #7f1d1d;
	--color-danger-900: #450a0a;

	--color-base-white: #ffffff;
	--color-base-white-2: #f2f2f2;
	--color-base-alabaster: #fdfdfd;
	--color-base-shark: #232227;
	--color-base-woodsmoke: #141316;
	--color-base-black: #000000; */

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
